@model List<Northwind.Web.Components.BreadcrumbItem>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in Model)
        {
            <li class="breadcrumb-item">
                <a asp-action="@item.Action" asp-controller="@item.Controller" 
                    asp-route-id="@item.Id">@item.Display</a>
            </li>
        }
    </ol>
</nav>