@model ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<table>
    @foreach (var product in this.Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.UnitPrice</td>
            <td>@product.UnitsInStock</td>
        </tr>
    }
</table>

