<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @if (IsSectionDefined("Header"))
    {
        RenderSection("Header", false);
    }
    else
    {
        <partial name="Navbar"/>
    }
    <div class="container">
        @await Component.InvokeAsync("Breadcrumbs")
        @RenderBody()
    </div>
    <footer class="fixed-bottom">
        <div class="container">
            @if (IsSectionDefined("Footer"))
            {
                RenderSection("Footer", false);
            }
            else
            {
                <h4>Default footer.</h4>
            }
        </div>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
