<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-dark p-1">
				<ul class="navbar-nav">
					<li class="navbar-item">
						<a class="nav-link text-white h4" asp-controller="Products" asp-action="Index">Products</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link text-white h4" asp-controller="Category" asp-action="Index">Categories</a>
					</li>
				</ul>
			</div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<div class="container">
		@RenderBody()
	</div>
	<script src="~/node_modules/jquery/dist/jquery.js"></script>
	<script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
	<script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
